<p style="color: green"><%= notice %></p>

<%= render @productclear %>

<div>
  <%= link_to "Edit this productclear", edit_productclear_path(@productclear) %> |
  <%= link_to "Back to productclears", productclears_path %>

  <%= button_to "Destroy this productclear", @productclear, method: :delete %>
</div>
